.mission_about {
    display: flex;
    justify-content: space-around;
}

.mission_details {
    max-width: 80%;
}

.ships_details span {
    margin-bottom: 10px;
    display: block;
}

.ships_details svg {
    margin-right: 10px;
}

.ships_details {
    margin-left: 50px;
}
