.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
h1{
    text-align: center;
    font-family: 'Tomorrow', serif;
}
button{
    color:#ffa260;
    background: none;
    border: 2px solid;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    transition: background 250ms ease-in-out, transform 150ms ease;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
