.users_page {
    margin-left: 50px;
}

.delete_user_icon {
    margin-left: 10px;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.delete_user_icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}